*{
    font-family: Consolas, serif;
    text-align: center;
    color: aliceblue;
}

body{
    background-color: #3f9b9b;

}

.underAMonth{
    color: #ef5350;
}
.oneToThreeMonths{
    color: #66bb6a;
}
.overThreeMonths{
    color: black;
}